name: CI

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  build:

    runs-on: macos-latest

    strategy:
      fail-fast: false
      matrix:
        formula:
          - buckup
          - heroku-audit

    steps:
    - uses: actions/checkout@v4
    - name: Set up Homebrew
      uses: Homebrew/actions/setup-homebrew@master
    - name: Add our custom tap
      run: |
        mkdir -p "$(brew --repository)/Library/Taps/$GITHUB_REPOSITORY"
        ln -s "$(pwd)" "$(brew --repository)/Library/Taps/$GITHUB_REPOSITORY"
    - name: Install ${{ matrix.formula }}
      run: brew install $GITHUB_REPOSITORY/${{ matrix.formula }}
    - name: Test ${{ matrix.formula }}
      run: brew test $GITHUB_REPOSITORY/${{ matrix.formula }}
